<div class="login-page">
    <div class="form">
      <!-- <form class="register-form">
        <input type="text" placeholder="name"/>
        <input type="password" placeholder="password"/>
        <input type="text" placeholder="email address"/>
        <button>create</button>
        <p class="message">Already registered? <a href="#">Sign In</a></p>
      </form> -->
      <form (ngSubmit)="RegisterUser()" #signUpForm="ngForm" class="login-form">
        <input type="text" name="name" [(ngModel)]="user.name" placeholder="Name"/>
        <!-- <input type="password" name="password"  placeholder="Password"/> -->
        <input type="password" [(ngModel)]="user.password" name="confirmPassword"  placeholder="Password"/>
        <input type="email" name="email" [(ngModel)]="user.email" placeholder="Email"/>
        <button type="submit">signup</button>
      </form>
    </div>
  </div>


  
  <script>
      $('.message a').click(function(){
   $('form').animate({height: "toggle", opacity: "toggle"}, "slow");
});
  </script>